
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

.vscode/
dist/
data/